@import url("https://fonts.cdnfonts.com/css/roboto");

.navbar {
  margin: 20px;
  background-color: #fff;
  height: 80px;
  border-radius: 16px;
  padding: 0.5rem;
}
.navbar-brand {
  font-weight: 500;
  color: #009970;
  font-size: 1.25rem;
  transition: 0.3s color;
}
.login-button {
  background-color: #009970;
  color: #fff;
  font-size: 14px;
  padding: 8px 20px;
  border-radius: 50px;
  text-decoration: none;
  transition: 0.3s background-color;
}
.login-button:hover {
  background: #00b383;
}
.navbar-toggler {
  border: none;
  font-size: 1.25 rem;
}
.navbar-toggler:focus,
.btn-close:focus {
  box-shadow: none;
  outline: none;
}
.nav-link {
  color: #666777;
  font-weight: 500;
  position: relative;
}
.nav-link:hover,
.nav-link.active {
  color: #000;
}
@media (min-width: 991px) {
  .nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: #009970;
    visibility: hidden;
    transition: 0.3s ease-in-out;
  }
  .nav-link:hover::before,
  .nav-link.active::before {
    width: 100%;
    visibility: visible;
  }
}
.hero-section {
  background: url(../images/gedung2.jpg) no-repeat center;
  background-size: cover;
  width: 100%;
}
.hero-section::before {
  background-color: rgba(0, 0, 0, 0.6);
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.hero-section .container {
  height: 100vh;
  z-index: 1;
  position: relative;
}
.hero-section h1 {
  font-size: 2rem;
}
.hero-section h2 {
  font-size: 1.2rem;
}
.navbar img {
  width: 100px;
}
.quote {
  margin-top: 100px;
}
.about {
  margin-top: 100px;
}
.event {
  margin-top: 100px;
}
.teacher {
  margin-top: 100px;
}
.btn-learn {
  background-color: #009970;
  color: #fff;
  font-size: 14px;
  padding: 8px 20px;
  border-radius: 50px;
  text-decoration: none;
  transition: 0.3s background-color;
}
.btn-learn:hover {
  background-color: #00b383;
  border-color: #8ad3d3;
  color: #fff;
}
.card {
  margin-top: 10px;
  box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.15);
  margin-bottom: 100px;
}
.img-area img {
  width: 100%;
}
